.error {
    border: 5px solid #ff0000;
    color: red;
    display: none;
}

.success {
    border: 5px solid #079315;
    color: #079315;
}

.campo-obrigatorio{
    border: 5px solid #ff0000;
    color: red;
    display: none;

}

.error-api{
    border: 5px solid #ff0000;
    color: red;
    display: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("images/tecnologia.avif");
    text-align: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    width:100%;
}

.titulo {
    text-align: center;
    font-size: xx-large;
    margin: 20px 0;
}

legend{
    font-size: xx-large;
    font-weight:bold;
    text-align: left;
}

.formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.input-container {
    margin-bottom: 5px;
    display:flex ;
    font-weight: bold;
    justify-content: space-between ;
}

.input-label-register {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 5px;
}

.input-register {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-button {
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}

.btn-send {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-send:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.container-endereco {
    margin-top: 10px;
}

.card{
    display: block;
}


