

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("images/tecnologia1.jpg");
    text-align: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    width:100%;
}

.titulo{
    color: aliceblue;
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 74);
}

legend{
    color: aliceblue;
    font-size: x-large;
    font-weight:bold;
    text-align: left;
    
}

.formulario{
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    position: relative;
    background-image: url(images/inovacao-e-tecnologia.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.button{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: aliceblue;
    width: 200px;
    height: 100px;
    background-color: rgb(5,5,74);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 74);

}
